{
    "httpPort": 8082,
    "duration": 15,
    "locations": {
        "sixtyPct"  : { "url": "http://assets0.ordienetworks.com/misc/tumblr_lkygpcv5i01qcz3y4.gif", "containerType": "div", "reload": false },
        "ci"        : { "url": "https://ci.jenkins-ci.org/",           "containerType": "iframe", "reload": true },
        "xkcd"      : { "url": "http://xkcd.com/",                     "containerType": "iframe", "reload": false },
        "annoy"     : { "url": "http://imgs.xkcd.com/comics/tags.png", "containerType": "div",    "reload": false },
        "vertx"     : { "url": "http://vertx.io/",                     "containerType": "iframe", "reload": true }
    },
    "rotationOrder": ["sixtyPct", "ci", "xkcd", "annoy", "vertx"]
}
